@import "../../../assets/scss/variables";

.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 15px;
  font-size: 16px;
  font-weight: 500;
  background-color: $primary;
  color: #ffffff;
  border-radius: 6px;
  transition: background-color .2s ease-in-out;

  &:disabled, &.loading {
    background-color: $primary-lighter !important;
  }

  &:hover {
    background-color: $primary-light;
  }

  &:active {
    background-color: $primary-dark;
  }
}