// primary color
$primary: #194EA5;
$primary-light: #3F6CB4;
$primary-lighter: #6689C3;
$primary-dark: #15418A;
$primary-darker: #11346E;

// secondary color
$secondary: #91CC1D;
$secondary-light: #A6E133;
$secondary-lighter: #AEE445;
$secondary-dark: #84B91B;
$secondary-darker: #79AA18;

// info color
$info: #c0bdc0;