@import "./src/assets/variables";

.home-memory {
  width: 30%;
  border: 0.5px solid $info;
  border-radius: 7px;
  margin-top: 15px;

  &:nth-child(3n + 2) {
    margin: 15px 10px 0;
  }
}
.home-memory__header {
  width: 100%;
  border-bottom: 1px solid $info;
  padding: 8px 5px;
}
.home-memory__header_title {
  color: $primary;
  font-size: 18px;
  font-weight: 500;
  line-break: anywhere;
}

.home-memory__main {
  width: 100%;
  padding: 10px 5px;
}
.home-memory__description {
  font-size: 14px;
  font-weight: 400;
  line-break: anywhere;
  color: $primary-light;
}

.home-memory__footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $info;
  padding: 5px;
}
.home-memory__footer_date {
  color: $secondary;
  font-size: 12px;
  line-break: anywhere;
}