@import "./src/assets/scss/variables";

.profile-content {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.profile-info {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.profile-info__card {
  padding-top: 16px;
}
.profile-info__card_name {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.25;
}

.profile-edit {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.profile-edit__heading {
  font-size: 22px;
}