@import "../../assets/scss/variables";

.home-content {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.home-memories__wrapper {
  position: relative;
  width: 65%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.home-memories__heading {
  font-size: 20px;
}

.home-form {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.home-form__group {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  &:not(:first-child) {
    margin-top: 20px;
  }

  &.invalid {
    label {
      color: red !important;
    }
    input, textarea {
      border-color: red !important;
    }
  }

  &:focus-within {
    label {
      color: $primary;
    }

    input, textarea {
      border-color: $primary;
    }
  }
}
.home-form__group_label {
  font-size: 14px;
  font-weight: 500;
  color: $info;
  transition: color .2s ease-in-out;
}
.home-form__group_input {
  width: 100%;
  margin-top: 7px;
  border: 1px solid $info;
  border-radius: 6px;
  padding: 7px;
  font-size: 16px;
  transition: border-color .2s ease-in-out;
}
.home-form__group_textarea {
  resize: none;
  min-height: 90px;
  max-height: 100px;
  font-size: 14px;
}
.home-form__submit {
  text-transform: uppercase;
  margin-top: 20px;
  color: #ffffff;
  background-color: $secondary;
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 14px;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: $secondary-light;
  }

  &:active {
    background-color: $secondary-dark;
  }
}