@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.home-content {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.home-memories__wrapper {
  position: relative;
  width: 65%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.home-memories__heading {
  font-size: 20px;
}

.home-form {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.home-form__group {
  @include field();
}
.home-form__group_label {
  @include label();
}
.home-form__group_input {
  @include input();
}
.home-form__group_textarea {
  @include textarea();
}
.home-form__submit {
  text-transform: uppercase;
  margin-top: 20px;
  color: #ffffff;
  background-color: $primary;
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 14px;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: $primary-light;
  }

  &:active {
    background-color: $primary-dark;
  }
}