@import "../../assets/scss/variables";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 14px 0;
  background-color: $secondary-dark;
}
.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}
.header-logo {
  font-size: 24px;
  font-weight: 500;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-nav__profile {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
}
.header-nav__profile_avatar_wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.header-nav__profile_avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.header-nav__logout {
  font-size: 14px;
  font-weight: 400;
  padding: 7px 10px;
  border-radius: 3px;
}