@import "../../../../assets/scss/variables";

.profile-edit__field {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  &:not(:first-child) {
    margin-top: 20px;
  }

  &:hover {
    .profile-edit__field_name_button {
      opacity: 1;
    }
  }
}
.profile-edit__field_label {
  color: $primary !important;
}
.profile-edit__field_name_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7px;
}
.profile-edit__field_name {
  font-size: 16px;
  line-height: 25px;
  min-height: 25px;
  padding-left: 5px;
  width: 80%;
  line-break: anywhere;
  cursor: pointer;
}
.profile-edit__field_name_form {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-edit__field_name_form_input {
  width: 100%;
  min-height: 25px;
  max-height: 25px;
  line-height: 25px;
  border: 1px solid $info;
  padding: 0 4px;
  border-radius: 6px;
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;

  &:focus {
    border-color: $primary;
    box-shadow: 0 0 2px $primary;
  }
}
.profile-edit__field_name_buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.profile-edit__field_name_button {
  font-size: 16px;
  opacity: 0;
  transition: opacity .2s ease-in-out, color .2s ease-in-out;

  &.edit {
    color: $secondary-darker;

    &:disabled {
      color: $secondary-lighter !important;
    }

    &:hover {
      color: $secondary;
    }

    &:active {
      color: $secondary-lighter;
    }
  }

  &.save {
    color: $primary;
    opacity: 1;
    margin-right: 10px;

    &:disabled {
      color: $primary-lighter !important;
    }

    &:hover {
      color: $primary-lighter;
    }

    &:active {
      color: $primary-dark;
    }
  }

  &.cancel {
    color: red;
    opacity: 1;

    &:disabled {
      opacity: 0.6 !important;
      color: red !important;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
      color: darkred;
    }
  }
}