// primary color
$primary: #572A72;
$primary-light: #754B8E;
$primary-lighter: #9775AA;
$primary-dark: #3C1255;
$primary-darker: #250339;

// secondary color
$secondary: #93A537;
$secondary-light: #BDCE67;
$secondary-lighter: #EAF7A5;
$secondary-dark: #6B7B15;
$secondary-darker: #455200;

// info color
$info: #c0bdc0;